* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  min-height: 100vh;
  background-color: darkgray;
  display: flex;
  flex-direction: column;
}

.paragraph {
  font-size: 30px;
}

.header,
.footer {
  flex-basis: 100%;
  padding: 10px;
  background-color: white;
  border: 2px solid black;
  display: flex;
  justify-content: center;
}

.main-content {
  flex: 1 0 400px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  /*   align-items: center; */
  justify-content: center;
  align-content: center;
}

.item {
  height: 240px;
  width: 350px;
  background-color: white;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}
