.textBuy {
  font-size: 22px;
  font-family: "Courier New", Courier, monospace;
  color: $primary-color;
}
.btn {
  padding: 5px 10px;
  border: 1px solid #000;
  background-color: $secondary-color;
}
